<p-toast></p-toast> <!-- Ez kell az üzenetek megjelenítéséhez -->

<div class="form-card">
  <h2 class="form-title">Registration</h2>
  <form (submit)="registration()">
    <div class="input-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required />
    </div>
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.name" required />
    </div>
    <div class="input-group">
        <label for="domain">Domain</label>
        <input type="text" id="domain" name="domain" [(ngModel)]="user.domain" required />
      </div>
    <button type="submit" class="btn">Register</button>
  </form>
</div>
