<!-- A bejelentkezési űrlap -->
<div class="login-card">
    <h2 class="form-title">Bejelentkezés</h2>
    <form (ngSubmit)="login()">
      <div class="input-group">
        <label for="username">Email cím</label>
        <input type="text" id="email" name="email" [(ngModel)]="user.email" required />
      </div>
      <div class="input-group">
        <label for="password">Jelszó</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required />
      </div>
      <button type="submit" class="btn">Bejelentkezés</button>
    </form>
  </div>
  