.login-card {
  background: #ffffff;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 490px;
  text-align: center;
  margin-top: 5rem; // 👈 Ez segít, hogy lejjebb legyen
}
  
  .login-btn {
    background: #2563EB !important;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    width: 10rem;
    margin: auto;
  
    &:hover {
      background: #163a6f;
    }
  }
  